* {
  box-sizing: border-box;
}

article img {
  float: left;
  width: 20%;
  padding: 5px;
}

.galeriaGombok {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.galeriaGombok button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.galeriaGombok button:hover {
  background-color: #3e8e41;
}
